:root {
    --color-primary: red;
    --color-background: white;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--color-primary);
    font-family: Arial, sans-serif;
}

#top-nav {
    background-color: white;
    display: flex;
    align-items: center;
}

#top-nav a {
    text-decoration: none;
    color: var(--color-background);
    margin: 0 20px;
}

#logo {
    flex: 0 0 auto; /* Prevent the logo from affecting the size of the navigation bar */
}

#logo img {
    width: 100px; /* Adjust the width as needed */
    height: auto; /* Maintain the aspect ratio */
}


.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--color-primary);
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: darkred; /* Change the background color on hover */
}

#banner {
    background-image: url('your-banner-image.jpg');
    background-size: cover;
    background-position: center;
    color: var(--color-background);
    text-align: center;
    padding: 100px 0;
}

#title {
    text-align: left;
    margin: 0 20px; /* Add left margin to move it off to the left */
    margin-left: 250px;
}

#content {
    text-align: center;
    padding: 20px;
}

#content img {
    width: 100%;
}

#footer {
    background-color: var(--color-background);
    text-align: center;
    color: var(--color-primary);
}

#footer a {
    text-decoration: none;
    color: var(--color-primary);
    padding: 7%;
}
